<div style="display:flex;justify-content:center;">
<form method="post" action="/Category/Edit">
<label>
    Name
</label>
<input type="text" name="Name" />
<input type="submit" value="Edit Category" />
</form>
</div>